*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    min-height: 100vh;
    background-color: #333;
}